* {
    margin: 0px;
    padding: 0px;
}
.navbar{
display: flex;
}
.nav1 img{
   
    width: 700px;
    padding: 20px;
    margin-left: 20px;

}

.nav2 a{
    text-decoration: none;
     font-size: 40px;
     color: rgb(91, 88, 88);
    
     

   
}